@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root{
    --lite-color: rgb(245, 245, 245);
    --website-morecolor: rgb(215, 128, 33);
    --font-color: rgb(85, 85, 85);
    --ful: 100%;
    --h1-size: 4rem;
    --h2-size: 3.5rem;
    --h3-size: 3rem;
    --h4-size: 2.5rem;
    --h5-size: 2rem;
    --h6-size: 1.7rem;
    --spaceing-padding:5rem ;
    --font-size: 1.6rem;
}
h1{
    font-size: var(--h1-size);
}
h2{
    font-size: var(--h2-size);
}
h3{
    font-size: var(--h3-size);
}
h4{
    font-size: var(--h4-size);
}
h5{
    font-size: var(--h5-size);
}
h6{
    font-size: var(--h6-size);
}
p{
    font-size: var(--font-size);
}
.row,section{
    width: 100%;
    height: 100%;
}
section{
    padding-top: 30rem;
}
/* NAVBAR */
.navbar{
    padding: 0;
}
header{
    width: 100%;
    height: 100vh;
}
#headersection{
    height: 100%;
}

header #navbrand img{
    width: 70px;
}

#navbarNav ul li a{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(68, 68, 70);
    padding-left: 40px;
    transition: color 0.15s;
}

#navbarNav ul li a:hover{
    color: var(--website-morecolor);
    padding-left: 40px;
}

/* HEADINGCONTENT */
#headingcontent{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


#headingcontent h1{
    color: var(--website-morecolor);
    font-size: var(--h1-size);
    font-weight: bold;
    padding-bottom: var(--spaceing-padding);
}

#headingcontent #navcontent p{
    color: var(--font-color);
    font-size: var(--font-size);
    padding-bottom: var(--spaceing-padding);
}
#navcontent button{
    background-color: var(--website-morecolor);
    border: none;
    font-size: var(--font-size);
    outline: none;
    padding: 10px 20px;
    color: rgb(236, 236, 236);
    border-radius: 10px;
    transition: all 0.1s;
    cursor: pointer;
}

#navcontent button:hover{
    color: rgb(215, 128, 33);
    background-color: rgb(236, 236, 236);
}
#lastbar ul li h6,#lastbar ul li p{
    font-size: var(--font-size);
}

#lastbar{
    text-align: center;
}
#lastbar ul li{
    list-style-type: none;
    width: 30%;
    height: 100px;
    border: solid 1px;
    border-color: var(--website-morecolor);
    list-style: none;
    padding: 5%;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s;
}

#lastbar ul li:hover{
    background-color: var(--website-morecolor);
    color: #fff;
}

.navbar-collapse{
    text-align: center;
}
/* HEADING2NDIMG */
#headerImg img{
    width: 100%;
    height: var(--ful);
}




/* WhatsProvidingSection */

main{
    width: 100%;
    height: 100%;
}

#whatprovidingsec{
    width: 100%;
    height: 100%;
}
#providingc{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--font-color);
}
#providingc ul li{
    list-style: none;
}
#providingc ul li h6{
    font-size: 1.8rem;
    color: rgb(20, 20, 20);
    font-weight: bold;
    padding-top: 1rem;
}

#whatprovidingsec img{
    width: 100%;
}

/* OUR CHETAGORIS */

#ourCatagorissec{
    width: 100%;
    height: 100%;
}

#ourCatagorissec p{
    margin-bottom: 5rem;
}
.catagorispenel{
    background-color: var(--website-morecolor);
    width: 30%;
    height: 350px;
    padding: 30px;
}
.catagorispenel ul li{
    display: inline-block;
    list-style: none;
    color: #000;
}

.catagorispenel ul li:last-child{
    float: right;
}
.catagorispenel a{
    color: rgb(59, 59, 59);
    transition: all 0.2s;
    font-size: var(--font-size);
}
.catagorispenel a:hover{
    color: #000;
}
.catagorispenel img{
    width: 100%;
}

/* DicountSection */

#discountsec{
    width: 100%;
    height: 100%;
}

#section2 img{
    width: 100%;
}

#section1 input{
    margin-bottom: 3rem;
    width: 50%;
    height: 5rem;
    padding-left: 10px;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    font-size: var(--font-size);
}

#section1 button{
    padding: 10px 40px;
    outline: none;
    border: none;
    background-color: var(--website-morecolor);
    border-radius: 10px;
    color: var(--lite-color);
    font-size: var(--font-size);
    transition: all 0.2s;
}

#section1 button:hover{
   background-color: rgb(226, 149, 67);
}

/* Our Collection */

#ourCollection{
    width: 100%;
    height: 100%;
}

#slidermain{
    width: 100%;
    height: 100%;
}

.box{
    width: 350px;
    height: 500px;
    background-color: #e9e9e9;
    border-radius: 30px;
}

#slidermain #slidimg img{
    width: 100%;
    height: auto;
    border-radius: 30px 30px 0px 0px;
}

#slidcontent{
    padding: 40px;
}
#slidcontent h4{
    margin: 10px 0px 30px 0px;
}

#slidermain #slidcontent p{
    font-size: 12px;
    margin: 30px 0px;
    text-align: justify;
}

#slidermain #slidcontent button{
    color: black;
    font-size: var(--font-size);
    font-weight: bold;
    border: 2px solid rgb(215, 128, 33);
    padding: 10px 50px;
    border-radius: 10px;
    background-color: #e9e9e9;
    transition: all .2s;
}

#slidermain #slidcontent button:hover{
    background-color:  rgb(215, 128, 33);
}
#ourCollection p{
    margin-bottom: 40px;
}

#ourCollection h1{
    font-weight: bold;
}


/* Map And Content */
#mapandfooter{
    width: 100%;
    height: 100%;
}

#mapcontent{
    padding-left: 50px;
}
#mapcontent p, #mapcontent ul li{
   margin-bottom: 30px;
}
#mapcontent p , li{
    font-size: 14px;
}
#mapcontent ul li i{
    font-size: 20px;
    color: #434448;
}

#mapcontent ul li{
    list-style: none;
}

#mapcontent #socialMedia ul li i{
    font-size: 30px;
    cursor: pointer;
    transition: .2s;
}

#mapcontent #socialMedia ul li i:hover{
    color: var(--website-morecolor);
}

#contactmap{
    padding-top: 100px;
}

#contactmap #sec2{
    text-align: end;
}

#contactmap #sec2 button{
    border: none;
    color: var(--lite-color);
    font-size: var(--font-size);
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 10px;
    background-color: rgb(215, 128, 33);
    transition: all .2s;
}

#contactmap #sec2 button:hover{
    background-color: rgb(238, 159, 76);
}

/* Footer  */
footer{
    background-color: black;
    margin-top: 7rem;
    display: flex;
    padding: 4rem;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* UPBOTTOM */


#upbutton a i{
    font-size: 4rem;
    background-color: rgb(29, 29, 29);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}
#upbutton{
    position: fixed;
    right: 30px;
    bottom: 30px;
}


/* @media only screen and (min-width : 451px) and (max-width : 345px) */
@media screen and (max-width: 991px){
    h1{
        font-size: 30px;
    }
    #ourCatagorissec .d-flex{
        display: block!important;
    }
    #ourCatagorissec .catagorispenel{
        width: 100%;
        margin-bottom: 40px;
    }
    #ourCatagorissec .catagorispenel img{
        width: 300px;
    }
}
@media only screen and (max-width : 345px){
    #ourCatagorissec .catagorispenel img{
        width: 200px;
    }
}
@media screen and (max-width: 767px) {
    header{
        height: 100%;
    }
    #headerImg{
        margin-top: 50px;
    }
    #imgsecw img{
        margin-bottom: 100px;
    }
  } 

  @media only screen and (max-width : 575px)
  {
    .container{
        margin-left: 0;
        margin-right: 0;
    }
    .row{
        margin-left: 0;
        margin-right: 0;
    }
    #lastbar{
        display: block;
    }
    #lastbar ul li{
        width: 100%;
        margin-top: 30px;
    }
    #navcontent{
        display: block;
        text-align: center;
    }

    #navcontent button{
        width: 50%;
    }
    section{
        padding-top: 15rem;
    }
    .sec2{
        display: block;
        width: 100%;
    }
  }